<div class="alignleft">
  <% if (config.author){ %>
  &copy; <%= new Date().getFullYear() %> <%= config.author %>
  <% } else { %>
  &copy; <%= new Date().getFullYear() %> <%= config.title %>
  <% } %>

  <!-- 不蒜子统计 -->
  <% if(theme.visit_statis_bsz){ %>
  &nbsp;&nbsp;本站总访问量<span id="busuanzi_value_site_pv"></span>次
  &nbsp;&nbsp;本站访客数<span id="busuanzi_value_site_uv"></span>人次
  <% } %>

<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1259167020'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s4.cnzz.com/z_stat.php%3Fid%3D1259167020%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>

</div>
<div class="clearfix"></div>