<div class="widget tag">
  <h3 class="title"><%= __('newComment') %></h3>
  <ul class="entry">
	<% if(theme.duoshuo_newcomment){ %>
		<li>
			<div class="ds-recent-comments" data-num-items="5" data-show-avatars="1" data-show-time="1" data-show-title="1" data-show-admin="1" data-excerpt-length="70"></div>
		</li>
	<% } %>
  </ul>
</div>
